/* This software is in the public domain. */

:root {
  color-scheme: light dark;
}

body {
    margin-inline: 28px;
}

p {
    line-height: 1.6810;
}

dd {
    margin-block-end: 1.2720rem;
}

sp-dialog {
    inline-size: 100%;
}
