/* This code is in the public domain. */

:root {
	color-scheme: light dark;
	font-family: sans-serif;
	margin: 1.68em;
	line-height: 1.68;
	--pf-global--BackgroundColor--100: transparent;
}

pre, article.converter {
	line-height: initial;
}

dt {
	padding-block-start: 0.38rem;
}

form.switch-with-label {
	padding-block-start: 0.62rem;
}

form.switch-with-label > label {
	cursor: pointer;
	padding-inline: 0.38ex;
}

#img-input {
	display: none;
}

#img-dropzone {
	font-size: larger;
	padding-block: 6.85rem;
	border: 0.24ex dashed rgb(34, 34, 34, 0.62);
	border-radius: 11px;
	margin: 0.62rem 2.62rem 0.38rem;
	text-align: center;
}

#img-dropzone:hover, #img-dropzone.file-dragging {
	border-style: double;
	border-color: rgb(34, 34, 34);
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	#img-dropzone {
		border-color: rgb(235, 235, 235, 0.62);
	}
	#img-dropzone:hover, #img-dropzone.file-dragging {
		border-color: rgb(235, 235, 235);
	}
}

#img-dropzone.file-dragging {
	background: rgb(2, 101, 220, .1);
	border-color: rgb(20, 122, 243);
}

#img-dropzone > * {
	pointer-events: none;
}

article.converter > footer {
	padding-inline: 2.62rem;
}

article.converter > footer > p {
	margin-block: 0 0.62rem;
}

#status-msg.ok {
	color: green;
}

#status-msg.ng {
	color: crimson;
}

@media (prefers-color-scheme: dark) {
	#status-msg.ok {
		color: lightgreen;
	}
	#status-msg.ng {
		color: indianred;
	}
}
